<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
                <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
		{% block style %}{% endblock %}
	</head>
  <body>
    {% block content %}{% endblock %}
	  <script src="../static/js/jquery.min.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>